.StyledFooter {
  background: pink;
  padding: 3rem 1rem 0 1rem;
  height: 10rem;
  text-align: center;
  color: #764701;
}

.StyledFooter p {
  margin-top: 1rem;
}

.StyledFooter .cats-icon {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}
