/* style.css */
.StyledFeedPhotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas */
    gap: 1rem; /* Espaçamento entre os itens */
    margin-bottom: 1rem; /* Espaço na parte inferior */
    justify-items: center; /* Centraliza os itens horizontalmente */
    scroll-behavior: smooth; /* Rolagem suave */
  }
  
  @media (max-width: 40rem) {
    .StyledFeedPhotos {
      grid-template-columns: repeat(2, 1fr); /* Duas colunas para telas menores */
    }
  }
  
  .animeLeft {
    opacity: 0;
    transform: translateX(-30px);
    animation: animeLeft .3s forwards;
  }
  
  @keyframes animeLeft {
    to {
      opacity: 1;
      transform: initial;
    }
  }
  
  .StyledFeedPhotosItem {
    list-style: none; /* Remove a marcação de lista */
  }
  