.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

